<div class="task-page-container"></div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="task-container">
          <%= react_component 'Tasks', {data: @tasks}%>
        </div>
      </div>
    </div>
  </div>
</div>
